.container {
  margin: 2rem;

  h1 {
    text-align: center;
  }

  .containerOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    button {
      width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--size-2);
      font-weight: bold;
      background-color: var(--primary);
      color: var(--secondary);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      margin-top: 0.5rem;

      &:hover {
        background-color: var(--secondary);
        color: var(--primary);
      }
    }

    div {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
    }

    label {
      font-size: var(--size-2);
      font-weight: bold;
      margin-right: 0.5rem;
    }

    input,
    select {
      height: 2rem;
      padding-left: 0.5rem;
      border-radius: 18px;
      background-color: var(--secondary);
    }
  }

  .tableContainer {
    overflow-x: auto;

    table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: var(--size-1);
      width: 100%;
      border-radius: 5px;

      th,
      td {
        padding: 12px 15px;
      }

      th {
        font-size: var(--size-3);
      }

      td {
        color: var(--primary);
        font-size: var(--size-1);
      }

      thead tr {
        background-color: var(--primary);
        color: var(--secondary);
        text-align: left;
        font-weight: bold;
      }

      tbody {
        background-color: var(--secondary);

        .tableProduct {
          display: flex;
          align-items: center;
          text-transform: capitalize;

          span {
            font-weight: bold;
          }

          img {
            width: 4rem;
            margin-right: 1rem;
          }
        }

        tr {
          border-bottom: 1px solid var(--primary);
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--primary);

            &>td {
              color: var(--secondary);
            }
          }
        }

        .options {
          display: flex;
        }

        button {
          cursor: pointer;
          color: var(--primary);
          border-color: var(--secondary);
          border-style: initial;
          transition: all 0.3s ease-in-out;
          border-radius: 5px;
          margin: 5px;
          font-size: var(--size-3);
          width: 30px;
          height: 30px;

          svg {
            height: 100%;
          }

          &:first-child {
            background-color: yellow;
          }

          &:not(:first-child) {
            background-color: red;
          }

          &:hover {
            opacity: 0.7;
          }
        }

        .stock {
          background-color: green !important;
        }
      }
    }
  }


}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}