.containerNavDown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1.3rem;
  z-index: 10;
}

.cateArrow {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.containerNavDown > div {
  font-weight: bold;
}

.containerNavDown > div > a {
  padding: 1rem;
  flex: 1;
  display: block;
  cursor: pointer;
}

.containerNavDown > div > a::after {
  content: "";
  background-color: var(--secondary);
  height: 3px;
  width: 0%;
  display: block;
  left: 0;
  bottom: -10px;
  position: static;
  transition: 0.3s;
}

.containerNavDown > div > a:hover::after {
  width: 100%;
}

.category {
  cursor: pointer;
  padding: 1rem;
  display: block;
}

.dropDown {
  position: absolute;
  margin-top: 10px;
  z-index: 2;
  pointer-events: none;
  width: 10rem;
}

.dropDown ul {
  position: relative;
  padding: 0;
  margin: 0;
}

.dropDown li {
  list-style: none;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}

.category:hover .dropDown li {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: auto;
}

.dropDown a {
  display: flex;
  padding: 0.7rem 2rem;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 1.2rem;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.dropDown a:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

@media (max-width: 768px) {
  .containerNavDown {
    width: 100vw;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    flex-direction: column;
    max-width: 100%;
    transform: translateY(-700px);
    transition: all 0.5s ease-in-out;
  }

  .show {
    transition: all 0.5s ease-in-out;
    visibility: visible;
    transform: translateY(-170px);
  }

  .home {
    margin-top: 7rem;
  }

  .containerNavDown > div > a::after {
    display: none;
  }

  .containerNavDown > div,
  .cateArrow {
    width: 100%;
    justify-content: initial;
  }

  .category:hover .dropDown li {
    display: initial;
  }

  .category {
    display: flex;
    flex-direction: column;
  }

  .dropDown {
    position: initial;
    pointer-events: auto;
    width: 100%;
    margin: 0;
    margin-top: 0.7rem;
  }

  .dropDown li {
    display: none;
  }
}

@media (max-height: 600px) {
  .dropDown a {
    padding: 8px 0;
  }
}
