.container {
  display: flex;
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0 !important;
  padding: 0 !important;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.3rem;
    width: 25rem;

    h1 {
      font-size: 2rem;
    }

    p {
      margin-bottom: 1.3rem;
    }

    div {
      display: flex;

      svg {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        padding: 8px;
        color: var(--secondary);
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-right: 1.3rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  .center {
    flex: 1;
    text-align: center;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 1.7rem;
      font-size: var(--size-4);
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        margin-bottom: 0.8rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        font-weight: bold;

        &:hover {
          transform: scale(1.15);
        }

        button {
          border: none;
          background-color: transparent;
          color: var(--secondary);
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }

  .right {
    flex: 1;
    padding: 1.3rem;
    text-align: center;
    width: 25rem;

    h2 {
      margin-bottom: 10px;
      font-size: var(--size-4);
    }

    span {
      margin-bottom: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .payment {
      width: 50%;
    }
  }
}




@media (max-width: 768px) {
  .container {
    flex-direction: column;

    .left {
      width: 100%;

      h1 {
        margin-bottom: 10px;
      }
    }

    .center {
      background-color: var(--secondary);
      color: var(--primary);

      ul {

        li {
          display: flex;
          align-items: center;
          justify-content: center;

          a,
          button {
            padding: 0.7rem 0;
            width: 100%;
            display: block;
            font-weight: bold;
            font: inherit;
            color: inherit;
          }
        }
      }
    }

    .right {
      width: 100%;


    }
  }

}