.container {
  padding: 0 2.5rem;
  display: grid;
  grid-template-areas: "logo search search search search cartfav";
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.logo {
  font-weight: bold;
  padding-right: 1.5rem;
  padding-left: 1rem;
  grid-area: logo;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 95%;
  height: 3rem;
  border: 4px solid var(--primary);
  padding: 0px 10px;
  border-radius: 50px;
  background-color: var(--secondary);
  grid-area: search;
}

.input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 1rem;
  color: var(--primary);
  background-color: var(--secondary);
  font-weight: 500;
}

.input:focus {
  outline: none;
}

.searchContainer > button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.cartFavContainer {
  display: flex;
  grid-area: cartfav;
}

.cartFavContainer > div {
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}

.cartFavContainer > div:hover {
  transform: scale(1.1);
}

.burguer {
  display: none !important;
  grid-area: burguer;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding: 1rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
}

.burguer > div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary);
  position: relative;
  transition: 0.5s;
  z-index: 15;
}

.burguer div::before,
.burguer div::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
  transition: inherit;
  z-index: inherit;
}

.burguer div::before {
  transform: translateY(-7px);
}

.burguer div::after {
  transform: translateY(7px);
}

.burguer.open > div {
  background-color: transparent;
}
.burguer.open > div::before {
  background-color: var(--secondary);
  transform: translateY(0) rotate(-45deg);
}

.burguer.open > div::after {
  background-color: var(--secondary);
  transform: translateY(0) rotate(45deg);
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    grid-template-areas:
      "logo logo logo cartfav"
      "search search search search";
  }
  .burguer {
    display: initial !important;
  }
  .searchContainer {
    margin-bottom: 1rem;
  }
  .cartFavContainer > div {
    margin: 0 0.5rem !important;
  }
}
