.container {
  margin: 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: var(--secondary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.2s ease-in-out;
  width: 350px;
  overflow: hidden;
}

.container:hover {
  transform: scale(1.01);
}

.container:hover > .info {
  opacity: 1;
}

.info {
  opacity: 0;
  width: 100%;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.info button {
  height: 3rem;
  width: 60%;
  background-color: var(--primary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: var(--secondary);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: none;
}

.info button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.image {
  z-index: 2;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

.title {
  color: var(--secondary);
  text-align: center;
  text-transform: capitalize !important;
  word-wrap: break-word;
}

.price {
  color: var(--secondary);
  font-weight: bold;
  font-size: 2rem;
}

.allIcons {
  display: flex;
  align-items: center;
}

.buttonOptions,
.fav {
  width: 2.4rem !important;
  height: 2.4rem !important;
  border-radius: 50%;
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0.7rem;
  border: none;
}

.buttonOptions:hover,
.fav:hover {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  transform: scale(1.1);
}

.hasLike,
.hasLike:hover {
  transition: all 0.1s ease-in-out;
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

.fav {
  display: none !important;
}

.noStock {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  width: 100px;
  z-index: 3;
  background-color: var(--primary);
  color: var(--secondary);
  height: 2.5rem;
  position: absolute;
  top: 5%;
  right: 5%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.noStockImg {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .container {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 570px;
  }

  .info {
    justify-content: flex-end;
    position: relative;
    display: flex;
    opacity: 1;
    background-color: transparent;
    justify-content: unset;
  }

  .title {
    color: var(--primary);
  }
  .price {
    color: var(--primary);
  }
  .allIcons {
    display: none;
  }
  .info button {
    display: initial;
  }
  .fav {
    display: flex !important;
  }
}

@media (max-width: 450px) {
  .container {
    width: 220px;
    height: 450px;
  }
  .title {
    font-size: 1.5rem;
  }
  .info button {
    width: 90%;
  }
}
