.container {
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: var(--secondary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  transform: scale(1.01);
}

.container:hover > .info {
  opacity: 1;
}

.info {
  opacity: 0;
  width: 100%;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.info button {
  height: 3rem;
  width: 60%;
  background-color: var(--primary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: var(--secondary);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

.info button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.circle {
  width: 70%;
  height: 60%;
  border-radius: 50%;
  background-color: var(--light);
  position: absolute;
}

.image {
  height: 75%;
  object-fit: cover;
  z-index: 2;
}

.title {
  color: var(--secondary);
  text-align: center;
  text-transform: capitalize !important;
}

.price {
  color: var(--secondary);
  font-weight: bold;
  font-size: 2rem;
}

.allIcons {
  display: flex;
  align-items: center;
}

.allIcons span {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem;
  transition: all 0.5s ease-in-out;
}

.allIcons span:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    flex: 1 1 33%;
    min-width: initial;
    width: 50%;
    height: 400px;
  }

  .info {
    justify-content: flex-end;
    position: relative;
    display: flex;
    opacity: 1;
    background-color: transparent;
    justify-content: unset;
    height: 100%;
  }

  .circle {
    display: none;
  }

  .image {
    height: 50%;
    margin-top: 1rem;
  }
  .title {
    color: var(--primary);
  }
  .price {
    color: var(--primary);
  }
  .allIcons {
    display: none;
  }
  .info button {
    display: initial;
  }
}

@media (max-width: 500px) {
  .container {
    height: 250px;
  }
  .image {
    height: 40%;
  }
  .title {
    font-size: 1.3rem;
  }
  .price {
    font-size: 1.5rem;
  }
  .info button {
    height: 2rem;
    font-size: 0.7rem;
  }
}
