.container {
  padding: 1.5rem;
  margin: 2rem 0;


  h1 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

  .order {
    display: flex;
    justify-content: space-between;

    .info {
      flex: 3;

      &>div,
      &>span {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-color: var(--secondary);
        margin: 2rem;
        padding: 1rem 0;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;


        &:hover {
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
      }

      &>span {
        margin-left: 2rem;
        display: block;
        font-size: var(--size-2);
        text-align: center;
      }

      .product {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;

        .productDetail {
          flex: 2;
          display: flex;

          img {
            width: 8rem;
            margin-left: 1rem;
          }

          h2 {
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-transform: capitalize;
          }
        }

        .productPrice {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
        }

        .lastContainer {
          display: flex;
          justify-content: center;
          margin-right: 2rem;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: var(--primary);
            background-color: var(--primary);
            color: var(--secondary);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            border-radius: 5px;

            &:hover {
              background-color: var(--secondary);
              color: var(--primary);
            }
          }

          span {
            font-size: var(--size-4);
            margin: 0 1rem;
          }

          .delete {
            font-size: var(--size-1);
            display: flex;
            align-items: center;
            position: absolute;
            margin-top: 3rem;
            cursor: pointer;
          }
        }
      }
    }


    .summary {
      flex: 1;
      border: 0.5px solid var(--light);
      border-radius: 0.8rem;
      padding: 1.5rem;
      height: 300px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      background-color: var(--secondary);
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }

      h2 {
        font-weight: 200;
        text-align: center;
      }

      hr {
        margin: 1rem 0;
      }

      div {
        display: flex;
        justify-content: space-between;

        b {
          font-size: var(--size-2);
        }
      }

      div:last-of-type {
        font-size: var(--size-3);
        font-weight: bold;
        margin: 1rem 0;
      }

      .button {
        width: 100%;
        border-radius: 2rem;
        border: 1px solid var(--primary);
        padding: 1rem 1.5rem;
        background-color: var(--primary);
        color: var(--secondary);
        margin: 1rem 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--secondary);
          color: var(--primary);
        }
      }
    }
  }

  .nothing {
    text-align: center;
    font-size: var(--size-4);
    margin: 4rem 0;

    span {
      color: red;
      cursor: pointer;
    }
  }
}

/********************************************************/



@media (max-width: 1000px) {
  .order {
    flex-direction: column;
  }
}

@media (max-width: 768px) {


  .info {
    .product {
      margin: 2rem 0 !important;
      flex-direction: column !important;
      align-items: center !important;



      .productDetail {
        flex-direction: column;
        align-items: center !important;

        h2 {
          font-size: var(--size-2);
          padding-bottom: 0 !important;
          padding-top: 1rem !important;
          text-align: center;
        }

        img {
          width: 7rem;
          margin: auto !important;
        }
      }

      .productPrice {
        margin: 1rem 0;
      }

      .lastContainer {
        margin: auto !important;
        padding-bottom: 3-rem;
      }

      .delete {
        margin: 0;
        position: initial;
        padding: 0.5rem;
        background-color: var(--primary);
        color: var(--secondary);
        border-radius: 10px;
        border: 1px solid var(--primary);
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--primary);
          background-color: var(--secondary);
        }
      }
    }
  }
}