.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  background-color: #f5f5f5;
  margin: 2rem;
}

.title {
  padding: 1.5rem;
  font-size: 2rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form > div {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  margin: 1rem;
}
.form > div > label {
  font-size: 1rem;
}

.form > div > input {
  height: 2rem;
  border: none;
  background-color: #f5f5f5;
  border-bottom: 1px solid #303030;
}

.form > button {
  width: 20%;
  height: 3rem;
  border-radius: 2rem;
  background-color: #303030;
  color: #f5f5f5;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2rem;
}

.button:hover {
  transform: scale(1.1);
}
