.HeaderAdmin {
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--secondary);
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.menu {
  visibility: hidden;
}

.logName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.HeaderAdmin span {
  font-size: var(--size-2);
  margin-right: 1.5rem;
}

.HeaderAdmin button {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.HeaderAdmin button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

@media (max-width: 420px) {
  .menu {
    visibility: visible;
  }
}
