.container {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  width: 30%;
  border-radius: 2rem;
  border-color: var(--primary);
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  color: var(--secondary);
  margin: 3rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buttonContainer button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.addressContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.address {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  border-radius: 1rem;
  background-color: #f5f5f5;
  padding: 2rem;
  margin: 3rem;
  width: 300px;
}

.name {
  text-align: center;
  font-size: var(--size-4);
  text-transform: capitalize;
}

.options {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info div {
  font-size: var(--size-2);
}

.info span {
  font-weight: bold;
  border-bottom: 1px solid #b3aaaa;
}

.containerDefault {
  margin: 1rem 0;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.default {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: var(--size-2);
}

.default svg {
  margin: auto;
  margin-right: 0.5rem;
}

.containerDefault button {
  width: 70%;
  border-radius: 2rem;
  border-color: var(--primary);
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  color: var(--secondary);
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.containerDefault button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options button {
  border: none;
  background: transparent;
  margin: 0 1rem;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

.options button:hover {
  transform: scale(1.2);
}

@media (max-width: 450px) {
  .buttonContainer button {
    width: 50%;
  }

  .address {
    width: 280px;
  }
}
