.containerOrder {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.order {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  background-color: var(--secondary);
  margin: 0.5rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.order > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order > div select {
  border-radius: 10px !important;
  height: 25px;
  background-color: var(--secondary);
}

.titleInside {
  font-size: var(--size-3);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: none;
}

.button {
  width: 10%;
  height: 2rem;
  border-radius: 2rem;
  background-color: var(--primary);
  color: var(--secondary);
  border-color: var(--primary);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 1rem;
}

.button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

@media (max-width: 768px) {
  .containerOrder {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .order {
    flex-direction: column;
    width: 200px;
  }
  .titleInside {
    display: initial;
    margin-top: 1rem;
  }
  .button {
    width: 80%;
  }
  .box {
    margin-top: 1rem;
  }
}
