.container > div {
  display: flex;
  padding: 1.5rem;
}
.container h1 {
  text-align: center;
  font-size: var(--size-5);
  margin: 4rem 0;
}

.addresses {
  flex: 3;
}

.addresses h1 {
  font-size: var(--size-4);
  text-align: center;
}

.summary {
  flex: 1;
  border: 0.5px solid var(--light);
  border-radius: 0.8rem;
  padding: 1.5rem;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--secondary);
}

.summary h2 {
  font-weight: 200;
  text-align: center;
}

.summary div {
  display: flex;
  justify-content: space-between;
}

.summary div:last-of-type {
  font-size: var(--size-3);
  font-weight: bold;
  margin: 1rem 0;
}

.summary div b {
  font-size: var(--size-2);
}

.containerDetailProduct {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 10rem;
}

.productDetail {
  margin: 0 !important;
  height: 7rem;
  display: flex;
  align-items: center;
}

.productDetail > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: initial !important;
  margin: 1.5rem;
}

.productDetail img {
  width: 4rem;
  height: 5rem;
}

.productDetail > span {
  display: flex;
  align-items: center;
  font-size: var(--size-4);
  font-weight: bold;
}

.summary div b {
  font-size: var(--size-2);
  text-transform: capitalize;
}

.button {
  width: 100%;
  border-radius: 2rem;
  border-color: var(--primary);
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  color: var(--secondary);
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: rgb(148, 124, 124);
  border-color: rgb(148, 124, 124);
  color: var(--primary);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .container > div {
    flex-direction: column;
  }
}
