@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --primary: #303030;
  --secondary: #f5f5f5;

  --light: #eeeeee;

  --size-1: 1rem;
  --size-2: 1.3rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: var(--light);
  color: var(--primary);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*SWIPER*/
.swiper-button-next,
.swiper-button-prev {
  color: var(--primary) !important;
}
.swiper-pagination-bullet {
  background-color: var(--primary) !important;
}

/*HEADER*/
.header {
  top: 0px;
  z-index: 13;
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 768px) {
  .header {
    position: sticky;
  }
}

/*WHATSAAP*/
.whatsapp {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 4;
  border-radius: 50%;
  color: var(--secondary);
  display: flex;
  background-color: #4fce5d;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.whatsapp:hover {
  transform: scale(1.15);
}

/*INFOABOUT*/

.title-info-about {
  font-size: var(--size-4);
  font-weight: 300;
  text-align: center;
}
