.productContainer {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.imgContainer {
  width: 70%;
}

.image {
  width: 30rem;
}

.infoContainer {
  width: 30%;
  text-align: center;
}
.info {
  margin-bottom: 3rem;
}

.title {
  font-size: var(--size-5);
  text-transform: capitalize;
  font-weight: 200;
}

.description {
  margin: 1.5rem 0;
  font-size: var(--size-2);
}

.price {
  font-weight: 100;
  font-size: var(--size-5);
}

.filterContainer {
  width: 50%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.addContainer {
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
}

.amountContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.amountContainer span {
  font-size: var(--size-3) !important;
  margin-right: 0.5rem;
}

.amount {
  width: 3rem;
  height: 2rem;
  font: var(--size-2);
  border-radius: 0.6rem;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3rem;
}

.button {
  width: 100%;
  border-radius: 2rem;
  border-color: var(--primary);
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  color: var(--secondary);
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

@media (max-width: 768px) {
  .productContainer {
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 20rem;
  }
}
