.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.pageContainer {
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--secondary);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list > li {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--primary);
  align-items: center;
}

.list > li:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.list > li:last-child {
  border: none;
}

.informationContainer {
  flex: 3;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .list {
    display: flex;
  }

  .list li {
    border-bottom: none;
    border-right: 1px solid var(--primary);
  }

  .list span,
  .list span ~ svg {
    display: none;
  }
}
